

<div>
  <section class="text-center about">
      <h1 style="text-align: center;margin-top:70px;">About US</h1>
      
      <div class="content">


        <div class="inner">
          <p>Initially the Ministry of Health and Family Welfare had two Departments, Each of these Departments was headed by the Secretary to the Government of India:-On August 7, 2014 vide extraordinary Gazette notification Part –II Section-3, Sub Section(ii) New Delhi Thursday August 7, 2014, Department of AIDS Control has been merged with Department of Health & Family Welfare and now be known as National AIDS Control Organization (NACO). As per the amendment in allocation of business rules vide Cabinet secretariat’s Notification Number- 1/21/35/2014-Cab dated December 8, 2014,Department of AYUSH has been made Ministry of Ayurveda, Yoga and Naturopathy, Unani, Siddha and Homeopathy (AYUSH) with focused attention on development of education and research in Ayurveda, Yoga & naturopathy, Unani, Siddha and Homoeopathy systems. Now Ministry of Health and Family Welfare comprises the following two departments, each of which is headed by a Secretary to the Government of India:-
  
            Directorate General of Health Services (DGHS) is attached office of the Department of Health & Family Welfare and has subordinate offices spread all over the country. The DGHS renders technical advice on all Medical and Public Health matters and is involved in the implementation of various Health Services.
            </p>
            <hr style="background-color: red;">
            <span class="">Mission</span>
           
            <p class="lead">
              <p>Our mission is to provide the security as well as privacy to all the patients Electronic Health Records (EHR) and maintain the quality of health care across the Hospitals, through the use of Blockchain technology and clinical data exchange. </p><br>

             <p style="margin-left: 250px;">** Health information exchange isn’t just about technology—it’s about everything the movement of patient health information makes possible: </p><br>
             
              
              <p style="margin-left: 350px;">->Coordinating patient care efficiently among many different doctors .</p>
              
              <p style="margin-left: 350px;">->Giving health care providers more complete patient information at the time of treatment .</p>
              
              <p style="margin-left: 350px;">->Empowering providers and patients to make better treatment decisions—together .</p>
              
              <p style="margin-left: 350px;">->Enabling patients to spend less time completing paperwork and more time talking with their doctors.</p> 
              
              <p style="margin-left: 350px;">->Improving the management of chronic diseases.</p> 
              
              <p style="margin-left: 350px;">->Reducing medication errors and duplicate tests storage.</p> 
              
              <p style="margin-left: 350px;">->Bettering the quality of health care.</p>  
              
              <p style="margin-left: 350px;">->Putting patients first.</p> 
              
              <p style="margin-left: 350px;">->Saving lives.</p> 
              
              <hr style="background-color: red;">
             <span class="">Vision</span>
         
            <p class="lead">
              Our vision is to have a healthier state population and a greatly improved health care system includes all the documents related to patients in which care givers and patients have electronic access to more complete health records and are empowered to make better health decisions with this information. 
              
             </p>
             
          </div>
      
      <!--<p>
        Initially the Ministry of Health and Family Welfare had two Departments, Each of these Departments was headed by the Secretary to the Government of India:-On August 7, 2014 vide extraordinary Gazette notification Part –II Section-3, Sub Section(ii) New Delhi Thursday August 7, 2014, Department of AIDS Control has been merged with Department of Health & Family Welfare and now be known as National AIDS Control Organization (NACO). As per the amendment in allocation of business rules vide Cabinet secretariat’s Notification Number- 1/21/35/2014-Cab dated December 8, 2014,Department of AYUSH has been made Ministry of Ayurveda, Yoga and Naturopathy, Unani, Siddha and Homeopathy (AYUSH) with focused attention on development of education and research in Ayurveda, Yoga & naturopathy, Unani, Siddha and Homoeopathy systems. Now Ministry of Health and Family Welfare comprises the following two departments, each of which is headed by a Secretary to the Government of India:-
  
  Directorate General of Health Services (DGHS) is attached office of the Department of Health & Family Welfare and has subordinate offices spread all over the country. The DGHS renders technical advice on all Medical and Public Health matters and is involved in the implementation of various Health Services.
     
      -->
      </div>
    </section>
  </div>
  
  
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  
  
  
  <!--footer starts from here-->
  <footer class="footer">
  <div class="container bottom_border">
  <div class="row">
  <div class=" col-sm-4 col-md col-sm-4  col-12 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
  <!--headin5_amrc-->
  <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
  <p><i class="fa fa-location-arrow"></i>Rajam(dolapeta)|532127 </p>
  <p><i class="fa fa-phone"></i>  +91-6300418621 </p>
  <p><i class="fa fa fa-envelope"></i> 17341a05e9@gmrit.edu.in </p>
  
  
  </div>
  
  
  <div class=" col-sm-4 col-md  col-6 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
  <!--headin5_amrc-->
  <ul class="footer_ul_amrc">
  <li><a href="http://webenlance.com">Home</a></li>
  <li><a href="http://webenlance.com">Aboutus</a></li>
  <li><a href="http://webenlance.com">Hospitals</a></li>
  <li><a href="http://webenlance.com">Resources</a></li>
 
  </ul>
  <!--footer_ul_amrc ends here-->
  </div>
  
  
  <div class=" col-sm-4 col-md  col-6 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
  <!--headin5_amrc-->
  <ul class="footer_ul_amrc">
    <li><a href="http://webenlance.com">Home</a></li>
    <li><a href="http://webenlance.com">Aboutus</a></li>
    <li><a href="http://webenlance.com">Hospitals</a></li>
    <li><a href="http://webenlance.com">Resources</a></li>
  </ul>
  <!--footer_ul_amrc ends here-->
  </div>
  
  
  <div class=" col-sm-4 col-md  col-12 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
  <!--headin5_amrc ends here-->
  
  <ul class="footer_ul2_amrc">
  <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
  <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
  <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
  </ul>
  <!--footer_ul2_amrc ends here-->
  </div>
  </div>
  </div>
  
  
  <div class="container">
  <ul class="foote_bottom_ul_amrc">
  <li><a href="http://webenlance.com">Home</a></li>
  <li><a href="http://webenlance.com">About</a></li>
  <li><a href="http://webenlance.com">Services</a></li>
  <li><a href="http://webenlance.com">Pricing</a></li>
  <li><a href="http://webenlance.com">Blog</a></li>
  <li><a href="http://webenlance.com">Contact</a></li>
  </ul>
  <!--foote_bottom_ul_amrc ends here-->
  <p class="text-center">Copyright @2017 | Designed With by <a href="#">Your Company Name</a></p>
  
  <ul class="social_footer_ul">
  <li><a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a></li>
  <li><a href="http://webenlance.com"><i class="fab fa-twitter"></i></a></li>
  <li><a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a></li>
  <li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>
  </ul>
  <!--social_footer_ul ends here-->
  </div>
  
  </footer>
  
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  