<div class="wrapper">

  <nav>

    <header>
      <span></span>
      John Doe
      <a></a>
    </header>

    <ul>
      <li><span>Navigation</span></li>
      <li><a  routerLink="/patientdashboard" routerLinkActive="active" class="active">Dashboard</a></li>
      <li><a routerLink="/user" routerLinkActive="active">Userprofile</a></li>
      <li><a routerLink="/ehr" routerLinkActive="active">EhrLogin</a></li>
      <li><a routerLink="/pharmacy" routerLinkActive="active">PharmacyDetails</a></li>
      <li><a routerLink="/doctor" routerLinkActive="active">PatientMedicalHistory</a></li>
      <li><a routerLink="/" routerLinkActive="active">NewAppointment</a></li>
      <li><a>FAQ</a></li>
      <li><span>Other</span></li>
      <li><a>Search</a></li>
      <li><a>Settings</a></li>
      <li><a href="#">Logout</a></li>
    </ul>

  </nav>
  
  <div>
    <mat-tab-group (selectedIndexChange)="getappointments($event)">
      <mat-tab label="Requested Appointments">
        <table mat-table [dataSource]="orders" multiTemplateDataRows class="mat-elevation-z8">
          <ng-container matColumnDef="patientUniqueId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> patient Id</th>
            <td mat-cell *matCellDef="let element"> {{element.patientUniqueId}} </td>
          </ng-container>
          <ng-container matColumnDef="patientName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.patientName}} </td>
          </ng-container>
          <ng-container matColumnDef="patientMobile">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
              <td mat-cell *matCellDef="let element"> {{element.patientMobile}} </td>
            </ng-container>
            <ng-container matColumnDef="patientDob">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Dob </th>
              <td mat-cell *matCellDef="let element"> {{element.patientDob}} </td>
            </ng-container>
            <ng-container matColumnDef="patientGender">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
              <td mat-cell *matCellDef="let element"> {{element.patientGender}} </td>
            </ng-container>
            <ng-container matColumnDef="patientMail">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.patientMail}} </td>
            </ng-container>
            <ng-container matColumnDef="doctorId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
              <td mat-cell *matCellDef="let element"> {{element.doctorId}} </td>
            </ng-container>
            <ng-container matColumnDef="appontmentDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Appointment Date </th>
              <td mat-cell *matCellDef="let element"> {{element.appontmentDate}} </td>
            </ng-container>
            <ng-container matColumnDef="duration">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
              <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"></tr>
        </table>
      </mat-tab>
  </mat-tab-group>
  </div>
  
</div>
<router-outlet></router-outlet>