
  body {margin:2rem;}


  .content-boxs {
    margin: 100px auto;
    width: 100%;
    color: red;
  }
  .content-box {
    width:100%;
    height: 110px;
    float: left;
    margin: 0 3px 3px 0;
    padding: 26px 0 0 31px;
    position: relative;
  }
  .content-box:before, .content-box:after {
    display: table;
    content: "";
  }
  .content-box:hover {
    z-index: 2;
  }
  .content-box .background {
    width: 100%;
    height: 100%;
    background: #343a40;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: background-color .2s,-webkit-transform .2s;
    transition: background-color .2s,transform .2s;
    z-index: 1;
  }
  .content-box:hover .background {
    background-color: white;
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
  }
  .content-box .foreground {
    position: relative;
    z-index: 2;
  }
  .content-icon {
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 10px 15px 0 rgba(14,48,57,0.1);
    float: left;
    height: 52px;
    margin-top: 3px;
    width: 52px;
  }
  .content-box:hover .content-icon {
    box-shadow: 0 2px 5px 0 rgba(7, 8, 8, 0.26), 0px 2px 10px 0 rgba(79,105,129,0.16);
  }
  .content-info {
    color: white;
    float: left;
    line-height: 17px;
    margin-left: 21px;
    margin-top: -3px;
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;
    width: 75%;
  }
  .content-title {
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: .4px;
    margin: -3px 0 8px;
  }
  .content-desc {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    padding-right: 25px;
  }
  .content-btn {
    color: #08090a;
    font-size: 13px;
    font-weight: 800;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
  }
  .content-btn:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: no-repeat;
    width: 10px;
    height: 8px;
    margin-bottom: 1px;
    margin-left: 7px;
  }
  .content-box:after {
    clear: both;
  }
  .content-box:hover .content-info {
    color: #ec1443;
    -webkit-transform: translate(0,-28px);
    transform: translate(0,-28px);
  }
  .content-info:hover .content-title {
    opacity: 0;
  }
  .content-info:hover .content-btn {
    opacity: 1;
  }
  .fa {
    display: block;
      text-align: center;
      line-height: 52px;
      color: #2b4170;
      font-size: 24px;
  }
  


						





			.content {
				border: 2px solid #999;
				background-color: #ccc;
				border-radius: 5px;
				padding: 10px;
				width: 50px;
				display: contents;
			  }
			  
			  .inner {
				border: 2px solid red;
				border-radius: 5px;
				padding: 10px;
				text-align: justify;
				line-height: 2.0em;
				display: block;
				font-family: Times New Roman;
				font-weight: lighter;
				
			  }


 /*footer*/
 .col_white_amrc { color:#FFF;}
 footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
 .pt2 { padding-top:40px ; margin-bottom:20px ;}
 footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
 .mb10 { padding-bottom:15px ;}
 .footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
 .footer_ul_amrc li {padding:0px 0px 5px 0px;}
 .footer_ul_amrc li a{ color:#CCC;}
 .footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
 .fleft { float:left;}
 .padding-right { padding-right:10px; }
 
 .footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
 .footer_ul2_amrc li p { display:table; }
 .footer_ul2_amrc li a:hover { text-decoration:none;}
 .footer_ul2_amrc li i { margin-top:5px;}
 
 .bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
 .foote_bottom_ul_amrc {
	 list-style-type:none;
	 padding:0px;
	 display:table;
	 margin-top: 10px;
	 margin-right: auto;
	 margin-bottom: 10px;
	 margin-left: auto;
 }
 .foote_bottom_ul_amrc li { display:inline;}
 .foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}
 
 .social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
 .social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
 .social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
 .social_footer_ul li i {  width:20px; height:20px; text-align:center;}
 
 



 