<div class="container">
	
	<h1 class="text-center">Apple Like Content Section</h1>
  
	<!--  image left  -->
	<div class="row">
	  <div class="col-md-6">
  
		<img src="./assets/behr.jpg" alt="" class="w-100" />
	  </div>
	  <!-- /.col-md-6 -->
	  <div class="col-md-6">
  
		<div class="row align-items-center h-100">
		  <div class="col">
			<h1 class="display-3" style="font-size: 35px;font-weight: bolder;">BlockChain Technology over Traditional EHR system</h1>
			<p class="lead" style="text-align: justify;font-size: 18px;">here are many differences between electronic health records (EHR) and traditional paper-based medical records – probably more than you would expect. The benefits of an EHR are numerous when you compare physicians’ time and finances, the health benefits for patients and the impact to the environment. This infographic from Quest Diagnostics Care 360 compares both record-keeping systems and presents the advantages of adopting a certified EHR system. 
			  <br /><br />
			  <a href="https://www.mygov.in/covid-19" class="">Clickhere for more info</a>
			</p>
  
		  </div>
		</div>
  
	  </div>
	  <!-- /.col-md-6 -->
  
	</div>
	<!-- /.row -->
  
	<!--  image right  -->
	<div class="row">
	  <div class="col-md-6 order-md-6">
  
		<img src="./assets/ehr.jpg" alt="" class="w-100" />
	  </div>
	  <!-- /.col-md-6 -->
	  <div class="col-md-6 order-md-1">
  
		<div class="row align-items-center h-100">
		  <div class="col">
			<h1 class="display-3" style="font-size: 35px;font-weight: bolder;">Electronic Health Record</h1>
			<p class="lead" style="text-align: justify;font-size: 18px;">An electronic health record (EHR) is a digital version of a patient’s paper chart. EHRs are real-time, patient-centered records that make information available instantly and securely to authorized users. While an EHR does contain the medical and treatment histories of patients, an EHR system is built to go beyond standard clinical data collected in a provider’s office and can be inclusive of a broader view of a patient’s care.
			  <br /><br />
			  <a href="https://groupfuturista.com/blog/electronic-health-record-a-patients-digital-profile/" class="">Clickhere for more info</a>
			</p>
  
		  </div>
		</div>
  
	  </div>
	  <!-- /.col-md-6 -->
  
	</div>
	<!-- /.row -->
  
		<!--  image left  -->
		<div class="row">
			<div class="col-md-6">
		
			  <img src="./assets/ors.png" alt="" class="w-100" />
			</div>
			<!-- /.col-md-6 -->
			<div class="col-md-6">
		
			  <div class="row align-items-center h-100">
				<div class="col">
				  <h1 class="display-3" style="font-size: 35px;font-weight: bolder;">Online Registration System</h1>
				  <p class="lead" style="text-align: justify;font-size: 18px;">Online Registration System (ORS) is a framework to link various hospitals across the country for Aadhaar based online registration and appointment system, where counter based OPD registration and appointment system through Hospital Management Information System (HMIS) has been digitalized. The application has been hosted on the cloud services of NIC. Portal facilitates online appointments with various departments of different Hospitals using eKYC data of Aadhaar number, if patient's mobile number is registered with UIDAI. And in case mobile number is not registered with UIDAI it uses patient's name. New Patient will get appointment as well as Unique Health Identification (UHID) number. If Aadhaar number is already linked with UHID number, then appointment number will be given and UHID will remain same.
					<br /><br />
					<a href="https://ors.gov.in/index.html" class="">Clickhere for more info</a>
				  </p>
		
				</div>
			  </div>
		
			</div>
			<!-- /.col-md-6 -->
		
		  </div>
		  <!-- /.row -->
		  <!--  image right  -->
	<div class="row">
		<div class="col-md-6 order-md-6">
	
		  <img src="./assets/COVID-19.jpg" alt="" class="w-100" />
		</div>
		<!-- /.col-md-6 -->
		<div class="col-md-6 order-md-1">
	
		  <div class="row align-items-center h-100">
			<div class="col">
			  <h1 class="display-3" style="font-size: 35px;font-weight: bolder;">COVID-19</h1>
			  <p class="lead" style="text-align: justify;font-size: 18px;">Government of India is taking all necessary steps to ensure that we are prepared well to face the challenge and threat posed by the growing pandemic of COVID-19 the Corona Virus. With active support of the people of India, we have been able to contain the spread of the Virus in our country. The most important factor in preventing the spread of the Virus locally is to empower the citizens with the right information and taking precautions as per the advisories being issued by Ministry of Health & Family Welfare.
				<br /><br />
				<a href="https://www.mygov.in/covid-19" class="">Clickhere for more info</a>
			  </p>
	
			</div>
		  </div>
	
		</div>
		<!-- /.col-md-6 -->
	
	  </div>
	  <!-- /.row -->
  </div>



  


  <div class="content-boxs">
	<a href="https://blockchain.oodles.io/blog/blockchain-healthcare-data-management-ehrs/" class="content-box">
		<div class="background"></div>
		<div class="foreground">
			<div class="content-icon">
				<i class="fa fa-area-chart" aria-hidden="true"></i>
			</div>
			<div class="content-info">
				<h4 class="content-title">Augmenting the management of EHRs with blockchain</h4>
				<div class="content-desc">
					Augmenting the management of EHRs with blockchain.
				</div>
				<div class="content-btn">Clickhere for more info</div>
			</div>
		</div>
	</a>

	<a href="https://www.healthit.gov/faq/what-electronic-health-record-ehr" class="content-box">
		<div class="background"></div>
		<div class="foreground">
			<div class="content-icon">
				<i class="fa fa-area-chart" aria-hidden="true"></i>
			</div>
			<div class="content-info">
				<h4 class="content-title">What is an electronic health record (EHR)?</h4>
				<div class="content-desc">
					What is an electronic health record (EHR)?
				</div>
				<div class="content-btn">Learn more</div>
			</div>
		</div>
	</a>

	<a href="https://en.wikipedia.org/wiki/Electronic_health_record_confidentiality" class="content-box">
		<div class="background"></div>
		<div class="foreground">
			<div class="content-icon">
				<i class="fa fa-area-chart" aria-hidden="true"></i>
			</div>
			<div class="content-info">
				<h4 class="content-title">Electronic health record confidentiality</h4>
				<div class="content-desc">
					Electronic health record confidentiality
				</div>
				<div class="content-btn">Learn more</div>
			</div>
		</div>
	</a>

	

	
</div>




<div style="background-color:white;">
	<section class="text-center about">
		<h1 style="text-align: center;margin-top:70px;">To get more resources follow these links</h1>
		
		<div class="content">
  
  
		  <div class="inner">
			

			<a href="https://pmjay.gov.in/" style="margin-left: 250px;font-size:23px">->.https://pmjay.gov.in/</a><br>
				 
			
				<a href="https://easychair.org/publications/open/3fW3" style="margin-left: 250px;font-size:23px">->.https://easychair.org/publications/open/3fW3</a><br>
				<a href="https://www.healthcareitnews.com/news/blockchain-use-case-electronic-health-records" style="margin-left: 250px;font-size:23px">->.https://www.healthcareitnews.com/news/blockchain-use-case-electronic-health-records</a><br>
				<a href="https://healthitanalytics.com/features/exploring-the-use-of-blockchain-for-ehrs-healthcare-big-data" style="margin-left: 250px;font-size:23px">->.https://www.healthcareitnews.com/news/blockchain-use-case-electronic-health-records</a><br>
				<a href="https://www.ehidc.org/sites/default/files/resources/files/blockchain.pdf" style="margin-left: 250px;font-size:23px">->.https://healthitanalytics.com/features/exploring-the-use-of-blockchain-for-ehrs-healthcare-big-data</a><br>
				<a href="https://www.diva-portal.org/smash/get/diva2:1335811/FULLTEXT01.pdf" style="margin-left: 250px;font-size:23px">->.https://www.ehidc.org/sites/default/files/resources/files/blockchain.pdf</a><br>
				<a href="https://dokumen.tips/documents/adopting-blockchain-technology-for-electronic-health-record-.html" style="margin-left: 250px;font-size:23px">->.https://www.diva-portal.org/smash/get/diva2:1335811/FULLTEXT01.pdf</a><br>
				<a href="https://www.everestgrp.com/wp-content/uploads/2018/09/Using-Blockchain-to-Address-Interoperability.pdf" style="margin-left: 250px;font-size:23px">->.https://dokumen.tips/documents/adopting-blockchain-technology-for-electronic-health-record-.html</a><br>
				<a href="https://www.mdpi.com/2079-9292/9/1/94/htm" style="margin-left: 250px;font-size:23px">->.https://www.everestgrp.com/wp-content/uploads/2018/09/Using-Blockchain-to-Address-Interoperability.pdf</a><br>
				<a href="https://www.jmir.org/2019/2/e12439/" style="margin-left: 250px;font-size:23px">->.https://www.mdpi.com/2079-9292/9/1/94/htm</a><br>
				<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6764776/" style="margin-left: 250px;font-size:23px">->.https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6764776/</a><br>
				
				
				
				
			  
			   
			</div>
		
		<!--<p>
		  Initially the Ministry of Health and Family Welfare had two Departments, Each of these Departments was headed by the Secretary to the Government of India:-On August 7, 2014 vide extraordinary Gazette notification Part –II Section-3, Sub Section(ii) New Delhi Thursday August 7, 2014, Department of AIDS Control has been merged with Department of Health & Family Welfare and now be known as National AIDS Control Organization (NACO). As per the amendment in allocation of business rules vide Cabinet secretariat’s Notification Number- 1/21/35/2014-Cab dated December 8, 2014,Department of AYUSH has been made Ministry of Ayurveda, Yoga and Naturopathy, Unani, Siddha and Homeopathy (AYUSH) with focused attention on development of education and research in Ayurveda, Yoga & naturopathy, Unani, Siddha and Homoeopathy systems. Now Ministry of Health and Family Welfare comprises the following two departments, each of which is headed by a Secretary to the Government of India:-
	
	Directorate General of Health Services (DGHS) is attached office of the Department of Health & Family Welfare and has subordinate offices spread all over the country. The DGHS renders technical advice on all Medical and Public Health matters and is involved in the implementation of various Health Services.
	   
		-->
		</div>
	  </section>
	</div>
	





















<div>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">



<!--footer starts from here-->
<footer class="footer">
<div class="container bottom_border">
<div class="row">
<div class=" col-sm-4 col-md col-sm-4  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
<!--headin5_amrc-->
<p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
<p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
<p><i class="fa fa-phone"></i>  +91-9999878398  </p>
<p><i class="fa fa fa-envelope"></i> info@example.com  </p>


</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
<li><a href="http://webenlance.com">Image Rectoucing</a></li>
<li><a href="http://webenlance.com">Clipping Path</a></li>
<li><a href="http://webenlance.com">Hollow Man Montage</a></li>
<li><a href="http://webenlance.com">Ebay & Amazon</a></li>
<li><a href="http://webenlance.com">Hair Masking/Clipping</a></li>
<li><a href="http://webenlance.com">Image Cropping</a></li>
</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
<li><a href="http://webenlance.com">Remove Background</a></li>
<li><a href="http://webenlance.com">Shadows & Mirror Reflection</a></li>
<li><a href="http://webenlance.com">Logo Design</a></li>
<li><a href="http://webenlance.com">Vectorization</a></li>
<li><a href="http://webenlance.com">Hair Masking/Clipping</a></li>
<li><a href="http://webenlance.com">Image Cropping</a></li>
</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
<!--headin5_amrc ends here-->

<ul class="footer_ul2_amrc">
<li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
<li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
<li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
</ul>
<!--footer_ul2_amrc ends here-->
</div>
</div>
</div>


<div class="container">
<ul class="foote_bottom_ul_amrc">
<li><a href="http://webenlance.com">Home</a></li>
<li><a href="http://webenlance.com">About</a></li>
<li><a href="http://webenlance.com">Services</a></li>
<li><a href="http://webenlance.com">Pricing</a></li>
<li><a href="http://webenlance.com">Blog</a></li>
<li><a href="http://webenlance.com">Contact</a></li>
</ul>
<!--foote_bottom_ul_amrc ends here-->
<p class="text-center">Copyright @2017 | Designed With by <a href="#">Your Company Name</a></p>

<ul class="social_footer_ul">
<li><a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-twitter"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>
</ul>
<!--social_footer_ul ends here-->
</div>

</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</div>