<div class="wrapper">

    <nav>
  
      <header>
        <span></span>
        John Doe
        <a></a>
      </header>
  
      <ul>
        <li><span>Navigation</span></li>
        <li><a  routerLink="/admindashboard" routerLinkActive="active" class="active">Dashboard</a></li>
        <li><a routerLink="/adminprofile" routerLinkActive="active">Userprofile</a></li>
        <li><a routerLink="/" routerLinkActive="active"></a></li>
        <li><a routerLink="/" routerLinkActive="active"></a></li>
        <li><a routerLink="/" routerLinkActive="active"></a></li>
        <li><a routerLink="/" routerLinkActive="active"></a></li>
        <li><a>FAQ</a></li>
        <li><span>Other</span></li>
        <li><a>Search</a></li>
        <li><a>Settings</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
  
    </nav>
    <div class="pagecontent" style="background-color: darkslategray;">
      <div class="cards-list" >
    
    
    
      
        <div class="card 1">
          <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
          <div class="card_title title-white">
            <p>Number of appointement requests.</p>
            <p>50</p>
          </div>
        </div>
    
    
        <div class="card 1">
          <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
          <div class="card_title title-white">
            <p>Number of Accepted.</p>
            <p>50</p>
          </div>
        </div>
    
    
        <div class="card 1">
          <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
          <div class="card_title title-white">
            <p>Number of Rejected</p>
            <p>50</p>
          </div>
        </div>
    
    
        <div class="card 1">
          <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
          <div class="card_title title-white">
            <p></p>
            <p></p>
          </div>
        </div>
    
    
        <div class="card 1">
          <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
          <div class="card_title title-white">
            <p></p>
            <p></p>
          </div>
        </div>
    
    
        <div class="card 1">
          <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
          <div class="card_title title-white">
            <p></p>
            <p></p>
          </div>
        </div>
    
        
      </div>
  </div>
  <router-outlet></router-outlet>