<mat-toolbar color="primary" class="app-header" style="width:100%;" *ngIf="nav.visible">
	<div>
	  <img src="./assets/mhfw1.jpeg" style="align-content: left;height: 65px;">
	
	 </div>
	 <div style="font-size: 15px;color:white;">{{ today | date : 'EEEE, MMMM d, h:mm' }} {{ today | date : 'a' | lowercase }}</div>
	 <span><form action="">
        <input type="search">
        <i class="fa fa-search"></i>
      </form></span>
	<button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
		  <mat-icon>menu</mat-icon>
		</button>
		
	
  <div>
	<span class="nav-tool-items">
	  <a href="#" mat-button [routerLink]="['/home']" routerLinkActive="active" classs="btn">
			<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
			Home
		  </a>
		  <a href="#" mat-button [routerLink]="['/aboutus']" routerLinkActive="active" classs="btn">
			<mat-icon>message</mat-icon>
			About
		  </a>
		 
		  <a href="#" mat-button classs="btn">
			<mat-icon>account_box</mat-icon>
			Hospitals
		  </a>
		  <a href="#" mat-button [routerLink]="['/resource']" routerLinkActive="active">
			<mat-icon>account_box</mat-icon>
			Resources
		  </a>
		  
		 
		  
		  <a href="#" mat-button [routerLink]="['/login']" routerLinkActive="active">
			<mat-icon>account_box</mat-icon>
			Login
		  </a>
		  <button  mat-raised-button color="accent" mat-button [matMenuTriggerFor]="menu"><mat-icon>lock</mat-icon>Signup</button>
  <mat-menu #menu="matMenu">
	<a  mat-menu-item [routerLink]="['/register']" routerLinkActive="active">Register as Patient</a>
	<a  mat-menu-item [routerLink]="['/registerh']" routerLinkActive="active">Register as Hospital</a>
	<!--<a  mat-menu-item [routerLink]="['/registerd']" routerLinkActive="active">Register as Doctor</a>-->
	<a mat-menu-item [routerLink]="['/researcher']" routerLinkActive="active">Register as Researcher</a>

	<!--<a  mat-menu-item [routerLink]="['/clinician']" routerLinkActive="active">Register as clinician</a>-->
  </mat-menu>
  
  
		   
		 
  <mat-sidenav-container fxFlexFill >
	  <mat-sidenav #sidenav>
		<mat-nav-list>
		  <a href="#" mat-list-item [routerLink]="['/home']" routerLinkActive="active">
			<mat-icon>notifications</mat-icon>
			Home
		  </a>
		  <a href="#" mat-list-item>
			<mat-icon>message</mat-icon>
			About</a>
		  <a href="#" mat-list-item>
			<mat-icon>account_box</mat-icon>
			Hospitals
		  </a>
		  <a href="#" mat-list-item>
			<mat-icon>lock</mat-icon>
			Resources
		  </a>
		  <a href="#" mat-button [routerLink]="['/login']" routerLinkActive="active">
			<mat-icon>account_box</mat-icon>
			Login
		  </a>
		  <br>
		 <button  mat-raised-button color="accent"  mat-button [matMenuTriggerFor]="menu"><mat-icon>lock</mat-icon>Signup</button>
		 
		  <img src="./assets/mhrd.jpeg">
		
		 
  <mat-menu #menu="matMenu">
	<a mat-menu-item [routerLink]="['/register']" routerLinkActive="active">Register as Patient</a>
	<a  mat-menu-item [routerLink]="['/registerh']" routerLinkActive="active">Register as Hospital</a>
	<!--<a  mat-menu-item [routerLink]="['/registerd']" routerLinkActive="active">Register as Doctor</a>-->
	<a mat-menu-item [routerLink]="['/researcher']" routerLinkActive="active">Register as Researcher</a>

	<!--<a  mat-menu-item [routerLink]="['/clinician']" routerLinkActive="active">Register as clinician</a>-->
  </mat-menu>
  
		  
		  <a (click)="sidenav.toggle()" mat-list-item>
			<mat-icon>close</mat-icon> Close
		  </a>
		</mat-nav-list>
	  </mat-sidenav>
	  <mat-sidenav-content fxFlexFill></mat-sidenav-content>
	</mat-sidenav-container>
  </span>
  </div>
  
  </mat-toolbar>

<!--<mat-toolbar class="toolbar" color="primary" style="position: fixed;z-index: 1;width: 100%;background-color: aliceblue;margin-top: 0px;height:60px;" *ngIf="nav.visible">
	<span class="fill-remaining-space">
	  <img src="./assets/logo_2.png">
		</span>
		<div style="font-size: 15px;color:blue;">{{ today | date : 'EEEE, MMMM d, h:mm' }} {{ today | date : 'a' | lowercase }}</div>
			 <span><form action="">
		  <input type="search">
		  <i class="fa fa-search"></i>
		</form></span>
		
  
  
  </mat-toolbar>
  
  <p>-------------------</p>
  <mat-toolbar color="primary" style="position: fixed;z-index: 1;margin-top: 10px;" *ngIf="nav.visible">
	<span class="fill-remaining-space">
	  <button mat-raised-button color="accent" [matMenuTriggerFor]="mainmenu">
		<mat-icon>menu</mat-icon>
	  </button>
	  <mat-menu #mainmenu="matMenu" [overlapTrigger]="false">
		<button mat-menu-item [routerLink]="['/home']" routerLinkActive="active">
		  <mat-icon>home</mat-icon>
		  <span>Home</span>
		</button>
		<button mat-menu-item [routerLink]="['/aboutus']" routerLinkActive="active">
		  <mat-icon>people_outline</mat-icon>
		  <span>Aboutus</span>
		</button>
		<button mat-menu-item >
		  <mat-icon>videocam</mat-icon>
		  <span>Hospitals</span>
		</button>
		<button mat-menu-item [routerLink]="['/resource']" routerLinkActive="active">
		  <mat-icon>exit_to_app</mat-icon>
		  <span>Resources</span>
		</button>
		<button mat-menu-item [routerLink]="['/login']" routerLinkActive="active">
		  <mat-icon>exit_to_app</mat-icon>
		  <span>Login</span>
		</button>
		<button  mat-raised-button color="accent" mat-button [matMenuTriggerFor]="sidemenu"><mat-icon>lock</mat-icon>Signup</button>
		<mat-menu #sidemenu="matMenu">
		  <a  mat-menu-item [routerLink]="['/register']" routerLinkActive="active">Register as Patient</a>
		  <a  mat-menu-item [routerLink]="['/registerh']" routerLinkActive="active">Register as Hospital</a>
		  <a  mat-menu-item [routerLink]="['/registerd']" routerLinkActive="active">Register as Doctor</a>
		  <a  mat-menu-item [routerLink]="['/researcher']" routerLinkActive="active">Register as Researcher</a>
		  <a  mat-menu-item [routerLink]="['/admin']" routerLinkActive="active">Register as Admin</a>
		  <a  mat-menu-item [routerLink]="['/clinician']" routerLinkActive="active">Register as Clinician</a>
		</mat-menu>
	  </mat-menu>
	</span>
	<span>
	  <a href="#" mat-button [routerLink]="['/home']" routerLinkActive="active">
			  <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
			  Home
			</a>
			<a href="#" mat-button [routerLink]="['/aboutus']" routerLinkActive="active">
			  <mat-icon>people_outline</mat-icon>
			  Aboutus
			</a>
		   
			<a href="#" mat-button >
			  
			  Hospitals
			</a>
			<a href="#" mat-button [routerLink]="['/resource']" routerLinkActive="active">
			  <mat-icon>account_box</mat-icon>
			  Resources
			</a>
			<a href="#" mat-button [routerLink]="['/blockchain']" routerLinkActive="active">
			  <mat-icon>account_box</mat-icon>
			  Blockchain
			</a>
			
		   
			
			<a href="#" mat-button [routerLink]="['/login']" routerLinkActive="active">
			  <mat-icon>exit_to_app</mat-icon>
			  Login
			</a>
	<button  mat-raised-button color="accent" mat-button [matMenuTriggerFor]="menu"><mat-icon>lock</mat-icon>Signup</button>
	<mat-menu #menu="matMenu">
	  <a  mat-menu-item [routerLink]="['/register']" routerLinkActive="active">Register as Patient</a>
	  <a  mat-menu-item [routerLink]="['/registerh']" routerLinkActive="active">Register as Hospital</a>
	  <a  mat-menu-item [routerLink]="['/registerd']" routerLinkActive="active">Register as Doctor</a>
	  <a  mat-menu-item [routerLink]="['/researcher']" routerLinkActive="active">Register as Researcher</a>
	  <a  mat-menu-item [routerLink]="['/admin']" routerLinkActive="active">Register as Admin</a>
	  <a  mat-menu-item [routerLink]="['/clinician']" routerLinkActive="active">Register as Clinician</a>
	</mat-menu>
	</span>
  </mat-toolbar>  -->
   
   
   
   
   
   
   
<router-outlet></router-outlet>