<div class="container">
	<h1 class="text-center">Apple Like Content Section</h1>
  
	<!--  image left  -->
	<div class="row">
	  <div class="col-md-6">
  
		<img src="./assets/COVID-19.jpg" alt="" class="w-100" />
	  </div>
	  <!-- /.col-md-6 -->
	  <div class="col-md-6">
  
		<div class="row align-items-center h-100">
		  <div class="col">
			<h1 class="display-3">COVID-19</h1>
			<p class="lead">The best way to prevent and slow down transmission is be well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face. 
			  <br /><br />
			  <a href="https://www.mygov.in/covid-19" class="">Clickhere for more info</a>
			</p>
  
		  </div>
		</div>
  
	  </div>
	  <!-- /.col-md-6 -->
  
	</div>
	<!-- /.row -->
  
	<!--  image right  -->
	<div class="row">
	  <div class="col-md-6 order-md-6">
  
		<img src="./assets/arogya2.jpg" alt="" class="w-100" />
	  </div>
	  <!-- /.col-md-6 -->
	  <div class="col-md-6 order-md-1">
  
		<div class="row align-items-center h-100">
		  <div class="col">
			<h1 class="display-3">Ayushman Bharat</h1>
			<p class="lead">Ayushman Bharat Pradhan Mantri Jan Arogya Yojana is a part of the Indian government's National Health Policy which aims to provide free health coverage at the secondary and tertiary level to its bottom 40% poor and vulnerable population. 
			  <br /><br />
			  <a href="https://pmjay.gov.in/resources/documents" class="">Clickhere for more info</a>
			</p>
  
		  </div>
		</div>
  
	  </div>
	  <!-- /.col-md-6 -->
  
	</div>
	<!-- /.row -->
  
  </div>



  


  <div class="content-boxs">
	<a href="#" class="content-box">
		<div class="background"></div>
		<div class="foreground">
			<div class="content-icon">
				<i class="fa fa-area-chart" aria-hidden="true"></i>
			</div>
			<div class="content-info">
				<h4 class="content-title">What is Lorem Ipsum?</h4>
				<div class="content-desc">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				</div>
				<div class="content-btn">Clickhere for more info</div>
			</div>
		</div>
	</a>

	<a href="#" class="content-box">
		<div class="background"></div>
		<div class="foreground">
			<div class="content-icon">
				<i class="fa fa-area-chart" aria-hidden="true"></i>
			</div>
			<div class="content-info">
				<h4 class="content-title">What is Lorem Ipsum?</h4>
				<div class="content-desc">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				</div>
				<div class="content-btn">Learn more</div>
			</div>
		</div>
	</a>

	<a href="#" class="content-box">
		<div class="background"></div>
		<div class="foreground">
			<div class="content-icon">
				<i class="fa fa-area-chart" aria-hidden="true"></i>
			</div>
			<div class="content-info">
				<h4 class="content-title">What is Lorem Ipsum?</h4>
				<div class="content-desc">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				</div>
				<div class="content-btn">Learn more</div>
			</div>
		</div>
	</a>

	<a href="#" class="content-box">
		<div class="background"></div>
		<div class="foreground">
			<div class="content-icon">
				<i class="fa fa-area-chart" aria-hidden="true"></i>
			</div>
			<div class="content-info">
				<h4 class="content-title">What is Lorem Ipsum?</h4>
				<div class="content-desc">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				</div>
				<div class="content-btn">Learn more</div>
			</div>
		</div>
	</a>

	<a href="#" class="content-box">
		<div class="background"></div>
		<div class="foreground">
			<div class="content-icon">
				<i class="fa fa-area-chart" aria-hidden="true"></i>
			</div>
			<div class="content-info">
				<h4 class="content-title">What is Lorem Ipsum?</h4>
				<div class="content-desc">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				</div>
				<div class="content-btn">Learn more</div>
			</div>
		</div>
	</a>

	<a href="#" class="content-box">
		<div class="background"></div>
		<div class="foreground">
			<div class="content-icon">
				<i class="fa fa-area-chart" aria-hidden="true"></i>
			</div>
			<div class="content-info">
				<h4 class="content-title">What is Lorem Ipsum?</h4>
				<div class="content-desc">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				</div>
				<div class="content-btn">Learn more</div>
			</div>
		</div>
	</a>
   
</div>


























<div>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">



<!--footer starts from here-->
<footer class="footer">
<div class="container bottom_border">
<div class="row">
<div class=" col-sm-4 col-md col-sm-4  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
<!--headin5_amrc-->
<p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
<p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
<p><i class="fa fa-phone"></i>  +91-9999878398  </p>
<p><i class="fa fa fa-envelope"></i> info@example.com  </p>


</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
<li><a href="http://webenlance.com">Image Rectoucing</a></li>
<li><a href="http://webenlance.com">Clipping Path</a></li>
<li><a href="http://webenlance.com">Hollow Man Montage</a></li>
<li><a href="http://webenlance.com">Ebay & Amazon</a></li>
<li><a href="http://webenlance.com">Hair Masking/Clipping</a></li>
<li><a href="http://webenlance.com">Image Cropping</a></li>
</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
<li><a href="http://webenlance.com">Remove Background</a></li>
<li><a href="http://webenlance.com">Shadows & Mirror Reflection</a></li>
<li><a href="http://webenlance.com">Logo Design</a></li>
<li><a href="http://webenlance.com">Vectorization</a></li>
<li><a href="http://webenlance.com">Hair Masking/Clipping</a></li>
<li><a href="http://webenlance.com">Image Cropping</a></li>
</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
<!--headin5_amrc ends here-->

<ul class="footer_ul2_amrc">
<li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
<li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
<li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
</ul>
<!--footer_ul2_amrc ends here-->
</div>
</div>
</div>


<div class="container">
<ul class="foote_bottom_ul_amrc">
<li><a href="http://webenlance.com">Home</a></li>
<li><a href="http://webenlance.com">About</a></li>
<li><a href="http://webenlance.com">Services</a></li>
<li><a href="http://webenlance.com">Pricing</a></li>
<li><a href="http://webenlance.com">Blog</a></li>
<li><a href="http://webenlance.com">Contact</a></li>
</ul>
<!--foote_bottom_ul_amrc ends here-->
<p class="text-center">Copyright @2017 | Designed With by <a href="#">Your Company Name</a></p>

<ul class="social_footer_ul">
<li><a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-twitter"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>
</ul>
<!--social_footer_ul ends here-->
</div>

</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</div>