
   
   
   
   
   
   
   
   
   <!--<mat-toolbar color="primary" class="app-header" style="width:100%;" *ngIf="nav.visible">
	  <div>
		<img src="./assets/MHRD.png" style="align-content: left;max-width: 60px;">
	  
	   </div>
	   <form>
		<input type="search" placeholder="Search">
	  </form>
	  <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
			<mat-icon>menu</mat-icon>
		  </button>
		  
	  
	<div>
	  <span class="nav-tool-items">
		<a href="#" mat-button [routerLink]="['/home']" routerLinkActive="active">
			  <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
			  Home
			</a>
			<a href="#" mat-button [routerLink]="['/aboutus']" routerLinkActive="active">
			  <mat-icon>message</mat-icon>
			  About
			</a>
		   
			<a href="#" mat-button >
			  <mat-icon>account_box</mat-icon>
			  Hospitals
			</a>
			<a href="#" mat-button [routerLink]="['/resource']" routerLinkActive="active">
			  <mat-icon>account_box</mat-icon>
			  Resources
			</a>
			
		   
			
			<a href="#" mat-button [routerLink]="['/login']" routerLinkActive="active">
			  <mat-icon>account_box</mat-icon>
			  Login
			</a>
			<button  mat-raised-button color="accent" mat-button [matMenuTriggerFor]="menu"><mat-icon>lock</mat-icon>Signup</button>
	<mat-menu #menu="matMenu">
	  <a  mat-menu-item [routerLink]="['/register']" routerLinkActive="active">Register as Patient</a>
	  <a  mat-menu-item [routerLink]="['/registerh']" routerLinkActive="active">Register as Hospital</a>
	  <a  mat-menu-item [routerLink]="['/registerd']" routerLinkActive="active">Register as Doctor</a>
	</mat-menu>
	
	
			 
		   
	<mat-sidenav-container fxFlexFill >
		<mat-sidenav #sidenav>
		  <mat-nav-list>
			<a href="#" mat-list-item [routerLink]="['/home']" routerLinkActive="active">
			  <mat-icon>notifications</mat-icon>
			  Home
			</a>
			<a href="#" mat-list-item>
			  <mat-icon>message</mat-icon>
			  About</a>
			<a href="#" mat-list-item>
			  <mat-icon>account_box</mat-icon>
			  Hospitals
			</a>
			<a href="#" mat-list-item>
			  <mat-icon>lock</mat-icon>
			  Resources
			</a>
			<a href="#" mat-button [routerLink]="['/login']" routerLinkActive="active">
			  <mat-icon>account_box</mat-icon>
			  Login
			</a>
			<br>
		   <button  mat-raised-button color="accent"  mat-button [matMenuTriggerFor]="menu"><mat-icon>lock</mat-icon>Signup</button>
		   
			<img src="./assets/mhrd.jpeg">
		  
		   
	<mat-menu #menu="matMenu">
	  <a mat-menu-item [routerLink]="['/register']" routerLinkActive="active">Register as Patient</a>
	  <a  mat-menu-item [routerLink]="['/registerh']" routerLinkActive="active">Register as Hospital</a>
	  <a  mat-menu-item [routerLink]="['/registerd']" routerLinkActive="active">Register as Doctor</a>
	  <a mat-menu-item [routerLink]="['/researcher']" routerLinkActive="active">Register as Researcher</a>
	  <a  mat-menu-item [routerLink]="['/admin']" routerLinkActive="active">Register as Admi</a>
	  <a  mat-menu-item [routerLink]="['/clinician']" routerLinkActive="active">Register as clinician</a>
	</mat-menu>
	
			
			<a (click)="sidenav.toggle()" mat-list-item>
			  <mat-icon>close</mat-icon> Close
			</a>
		  </mat-nav-list>
		</mat-sidenav>
		<mat-sidenav-content fxFlexFill></mat-sidenav-content>
	  </mat-sidenav-container>
	</span>
	</div>
	
	</mat-toolbar>-->
   
	
	
	
  

   
   
   
   <!--<mat-toolbar color="primary" class="app-header" style="width:100%;" *ngIf="nav.visible">
	  <div>
		<img src="./assets/MHRD.png" style="align-content: left;max-width: 60px;">
	  
	   </div>
	   <form>
		<input type="search" placeholder="Search">
	  </form>
	  <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
			<mat-icon>menu</mat-icon>
		  </button>
		  
	  
	<div>
	  <span class="nav-tool-items">
		<a href="#" mat-button [routerLink]="['/home']" routerLinkActive="active">
			  <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
			  Home
			</a>
			<a href="#" mat-button [routerLink]="['/aboutus']" routerLinkActive="active">
			  <mat-icon>message</mat-icon>
			  About
			</a>
		   
			<a href="#" mat-button >
			  <mat-icon>account_box</mat-icon>
			  Hospitals
			</a>
			<a href="#" mat-button [routerLink]="['/resource']" routerLinkActive="active">
			  <mat-icon>account_box</mat-icon>
			  Resources
			</a>
			
		   
			
			<a href="#" mat-button [routerLink]="['/login']" routerLinkActive="active">
			  <mat-icon>account_box</mat-icon>
			  Login
			</a>
			<button  mat-raised-button color="accent" mat-button [matMenuTriggerFor]="menu"><mat-icon>lock</mat-icon>Signup</button>
	<mat-menu #menu="matMenu">
	  <a  mat-menu-item [routerLink]="['/register']" routerLinkActive="active">Register as Patient</a>
	  <a  mat-menu-item [routerLink]="['/registerh']" routerLinkActive="active">Register as Hospital</a>
	  <a  mat-menu-item [routerLink]="['/registerd']" routerLinkActive="active">Register as Doctor</a>
	</mat-menu>
	
	
			 
		   
	<mat-sidenav-container fxFlexFill >
		<mat-sidenav #sidenav>
		  <mat-nav-list>
			<a href="#" mat-list-item [routerLink]="['/home']" routerLinkActive="active">
			  <mat-icon>notifications</mat-icon>
			  Home
			</a>
			<a href="#" mat-list-item>
			  <mat-icon>message</mat-icon>
			  About</a>
			<a href="#" mat-list-item>
			  <mat-icon>account_box</mat-icon>
			  Hospitals
			</a>
			<a href="#" mat-list-item>
			  <mat-icon>lock</mat-icon>
			  Resources
			</a>
			<a href="#" mat-button [routerLink]="['/login']" routerLinkActive="active">
			  <mat-icon>account_box</mat-icon>
			  Login
			</a>
			<br>
		   <button  mat-raised-button color="accent"  mat-button [matMenuTriggerFor]="menu"><mat-icon>lock</mat-icon>Signup</button>
		   
			<img src="./assets/mhrd.jpeg">
		  
		   
	<mat-menu #menu="matMenu">
	  <a mat-menu-item [routerLink]="['/register']" routerLinkActive="active">Register as Patient</a>
	  <a  mat-menu-item [routerLink]="['/registerh']" routerLinkActive="active">Register as Hospital</a>
	  <a  mat-menu-item [routerLink]="['/registerd']" routerLinkActive="active">Register as Doctor</a>
	  <a mat-menu-item [routerLink]="['/researcher']" routerLinkActive="active">Register as Researcher</a>
	  <a  mat-menu-item [routerLink]="['/admin']" routerLinkActive="active">Register as Admi</a>
	  <a  mat-menu-item [routerLink]="['/clinician']" routerLinkActive="active">Register as clinician</a>
	</mat-menu>
	
			
			<a (click)="sidenav.toggle()" mat-list-item>
			  <mat-icon>close</mat-icon> Close
			</a>
		  </mat-nav-list>
		</mat-sidenav>
		<mat-sidenav-content fxFlexFill></mat-sidenav-content>
	  </mat-sidenav-container>
	</span>
	</div>
	
	</mat-toolbar>-->
   
	
	
	
  
  <router-outlet></router-outlet>
<app-carousel [autoPlayDuration]="5000" animation="slide" [isNavigationVisible]="true" [isThumbnailsVisible]="true" [slides]="slides"
 [slideTemplateRef]="slide" [thumbnailTemplateRef]="thumbnail"></app-carousel>
<ng-template #slide let-slide>
  <div [ngStyle]="{
      'background-size': 'cover',
      'background-image': 'url(' + slide.url + ')',
      'background-repeat': 'no-repeat',
      'width': '100%',
      'height': '100%'
    }">
  </div>
</ng-template>
<ng-template #thumbnail let-slide>
    <div [ngStyle]="{
        'background-size': 'cover',
        'background-image': 'url(' + slide.url + ')',
        'background-repeat': 'no-repeat',
        'background-position': 'center center',
        'width': '100%',
        'height': '100%'
      }"></div>
</ng-template>





<!-- Load font awesome icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The social media icon bar -->
<div class="icon-bar" style="z-index: 1;">
  <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
  <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
  <a href="#" class="google"><i class="fab fa-google"></i></a>
  <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
  <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
</div>





<div class="container" style="border: 2px;">

  
	<!--  image left  -->
	<div class="row">
	  <div class="col-md-6">
  
		<img src="./assets/trvsehr.jpg" alt="" class="w-100" />
	  </div>
	  <!-- /.col-md-6 -->
	  <div class="col-md-6">
  
		<div class="row align-items-center h-100">
		  <div class="col">
			<h1 class="display-3">Traditional vs EHR</h1>
			<p class="lead">There are many differences between electronic health records (EHR) and traditional paper-based medical records – probably more than you would expect. The benefits of an EHR are numerous when you compare physicians’ time and finances, the health benefits for patients and the impact to the environment. This infographic from Quest Diagnostics Care 360 compares both record-keeping systems and presents the advantages of adopting a certified EHR system. 
			  <br /><br />
			  <a href="https://www.healthit.gov/faq/what-electronic-health-record-ehr" class="">Clickhere for more info</a>
			</p>
  
		  </div>
		</div>
  
	  </div>
	  <!-- /.col-md-6 -->
  
	</div>
	<!-- /.row -->
  
	<!--  image right  -->
	<div class="row">
	  <div class="col-md-6 order-md-6">
  
		<img src="./assets/arogya2.jpg" alt="" class="w-100" />
	  </div>
	  <!-- /.col-md-6 -->
	  <div class="col-md-6 order-md-1">
  
		<div class="row align-items-center h-100">
		  <div class="col">
			<h1 class="display-3">Ayushman Bharat</h1>
			<p class="lead">Ayushman Bharat Pradhan Mantri Jan Arogya Yojana is a part of the Indian government's National Health Policy which aims to provide free health coverage at the secondary and tertiary level to its bottom 40% poor and vulnerable population. 
			  <br /><br />
			  <a href="https://pmjay.gov.in/resources/documents" class="">Clickhere for more info</a>
			</p>
  
		  </div>
		</div>
  
	  </div>
	  <!-- /.col-md-6 -->
  
	</div>
	<!-- /.row -->
  
  </div>



  


  <div class="content-boxs" style="z-index: -1;border: 2px;">
	<a href="#" class="content-box">
		<div class="background"></div>
		<div class="foreground">
			<div class="content-icon">
				<i class="fa fa-area-chart" aria-hidden="true"></i>
			</div>
			<div class="content-info">
				<h4 class="content-title">What is EHR?</h4>
				<div class="content-desc">
					An electronic (digital) collection of medical information about a person that is stored on a computer. An electronic health record includes information about a patient's health history, such as diagnoses, medicines, tests, allergies, immunizations, and treatment plans.
				</div>
				<a href="https://www.healthit.gov/faq/what-electronic-health-record-ehr"><div class="content-btn">Clickhere for more info</div></a>
			</div>
		</div>
	</a>

	<a href="#" class="content-box">
		<div class="background"></div>
		<div class="foreground">
			<div class="content-icon">
				<i class="fa fa-area-chart" aria-hidden="true"></i>
			</div>
			<div class="content-info">
				<h4 class="content-title">What is BlockChain?</h4>
				<div class="content-desc">
					Blockchain is the technology the underpins digital currency (Bitcoin, Litecoin, Ethereum, and the like). The tech allows digital information to be distributed, but not copied. ... The information is constantly reconciled into the database, which is stored in multiple locations and updated instantly.
				</div>
				<a href="https://builtin.com/blockchain"><div class="content-btn">Clickhere for more info</div></a>
			</div>
		</div>
	</a>
   
</div>









<div class="cards-list">
  
	<div class="card 1">
	  <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
	  <div class="card_title title-white">
		<p>Card Title</p>
	  </div>
	</div>
	
	  <div class="card 2">
	  <div class="card_image">
		<img src="https://cdn.blackmilkclothing.com/media/wysiwyg/Wallpapers/PhoneWallpapers_FloralCoral.jpg" />
		</div>
	  <div class="card_title title-white">
		<p>Card Title</p>
	  </div>
	</div>
	
	<div class="card 3">
	  <div class="card_image">
		<img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" />
	  </div>
	  <div class="card_title">
		<p>Card Title</p>
	  </div>
	</div>
	  
	  <div class="card 4">
	  <div class="card_image">
		<img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
		</div>
	  <div class="card_title title-black">
		<p>Card Title</p>
	  </div>
	  </div>
	
	</div>










<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">



<!--footer starts from here-->
<footer class="footer">
<div class="container bottom_border">
<div class="row">
<div class=" col-sm-4 col-md col-sm-4  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
<!--headin5_amrc-->
<p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
<p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
<p><i class="fa fa-phone"></i>  +91-9999878398  </p>
<p><i class="fa fa fa-envelope"></i> info@example.com  </p>


</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
<li><a href="http://webenlance.com">Image Rectoucing</a></li>
<li><a href="http://webenlance.com">Clipping Path</a></li>
<li><a href="http://webenlance.com">Hollow Man Montage</a></li>
<li><a href="http://webenlance.com">Ebay & Amazon</a></li>
<li><a href="http://webenlance.com">Hair Masking/Clipping</a></li>
<li><a href="http://webenlance.com">Image Cropping</a></li>
</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
<li><a href="http://webenlance.com">Remove Background</a></li>
<li><a href="http://webenlance.com">Shadows & Mirror Reflection</a></li>
<li><a href="http://webenlance.com">Logo Design</a></li>
<li><a href="http://webenlance.com">Vectorization</a></li>
<li><a href="http://webenlance.com">Hair Masking/Clipping</a></li>
<li><a href="http://webenlance.com">Image Cropping</a></li>
</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
<!--headin5_amrc ends here-->

<ul class="footer_ul2_amrc">
<li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
<li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
<li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
</ul>
<!--footer_ul2_amrc ends here-->
</div>
</div>
</div>


<div class="container">
<ul class="foote_bottom_ul_amrc">
<li><a href="http://webenlance.com">Home</a></li>
<li><a href="http://webenlance.com">About</a></li>
<li><a href="http://webenlance.com">Services</a></li>
<li><a href="http://webenlance.com">Pricing</a></li>
<li><a href="http://webenlance.com">Blog</a></li>
<li><a href="http://webenlance.com">Contact</a></li>
</ul>
<!--foote_bottom_ul_amrc ends here-->
<p class="text-center">Copyright @2017 | Designed With by <a href="#">Your Company Name</a></p>

<ul class="social_footer_ul">
<li><a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-twitter"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>
</ul>
<!--social_footer_ul ends here-->
</div>

</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
