
<body style="background-image: url(assets/log.webp);">
    <div class="form_wrapper">
      <div class="form_container">
        <div class="title_container">
          <h2>Registration Form</h2>
        </div>
        <div class="row clearfix">
          <div class="">
            <form (ngSubmit)="fffff.form.valid && researcheronclick()" #fffff="ngForm" novalidate>
              <div class="input_field" > <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                <input type="text" class="form-control" placeholder="AadharNumber" name="ruserid" [(ngModel)]="model.ruserid" #ruserid="ngModel" required />
                <div *ngIf="fffff.submitted && !ruserid.valid" class="help-block">Username is required</div>
              </div>
              <div class="input_field" > <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                <input type="password" class="form-control" placeholder="Password" name="rpassword" [(ngModel)]="model.rpassword" #rpassword="ngModel" required />
                <div *ngIf="fffff.submitted && !rpassword.valid" class="help-block">password is required</div>
              </div>
             
    
              <!--<div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                <input type="password" name="password" placeholder="Re-type Password" required />
              </div>
              <div class="row clearfix">
                <div class="col_half">
                  <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                    <input type="text" name="name" placeholder="First Name" />
                  </div>
                </div>
                <div class="col_half">
                  <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                    <input type="text" name="name" placeholder="Last Name" required />
                  </div>
                </div>
              </div>
                    <div class="input_field radio_option">
                  <input type="radio" name="radiogroup1" id="rd1">
                  <label for="rd1">Male</label>
                  <input type="radio" name="radiogroup1" id="rd2">
                  <label for="rd2">Female</label>
                  </div>
                  <div class="input_field select_option">
                    <select>
                      <option>Select a country</option>
                      <option>Option 1</option>
                      <option>Option 2</option>
                    </select>
                    <div class="select_arrow"></div>
                  </div>
                <div class="input_field checkbox_option">
                    <input type="checkbox" id="cb1">
                    <label for="cb1">I agree with terms and conditions</label>
                </div>
                <div class="input_field checkbox_option">
                    <input type="checkbox" id="cb2">
                    <label for="cb2">I want to receive the newsletter</label>
                </div>-->
                <div class="captcha">
                  <div class="spinner">
                    <label>
                      <input type="checkbox" onclick="$(this).attr('disabled','disabled');">
                      <span class="checkmark"><span>&nbsp;</span></span>
                    </label>
                  </div>
                  <div class="text">
                    I'm not a robot
                  </div>
                  <div class="logo">
                    <img src="https://forum.nox.tv/core/index.php?media/9-recaptcha-png/"/>
                    <p>reCAPTCHA</p>
                    <small>Privacy - Terms</small>
                  </div>
                </div>
                         
                <button mat-stroked-button color="accent" class="btn-block" type="submit" style="width: 100%;">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    
    <!--<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" >
    
        <mat-card class="box" style="margin-top: 48"> 
          <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
          </mat-card-header>
      
          <form  [formGroup]="service.form" class="example-form">
            <mat-card-content>
              <mat-form-field class="example-full-width">
                <input formControlName="LogInId" matInput placeholder="LogInId" required="">
                <mat-error>This field is mandatory.</mat-error>
              </mat-form-field>
      
              <mat-form-field class="example-full-width">
                <input formControlName="Password" matInput placeholder="Password" required="">
                <mat-error *ngIf="service.form.controls['Password'].errors?.required">This field is mandatory.</mat-error>
              <mat-error *ngIf="service.form.controls['Password'].errors?.minlength">Minimum 6 charactors (digit,lwrcase,uprcase,symbol).</mat-error>
              </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button [routerLink]="['/ppdashboard']" color="accent" class="btn-block" type="submit" [disabled]="service.form.invalid">Log in</button>
            <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
          </form>
        </mat-card>
      
      </div>-->
    </body>
    <router-outlet></router-outlet>
      