<div class="wrapper">

  <nav style="width: 15%;">

  
    <ul>
      <li><span>Navigation</span></li>
      <li><a  routerLink="/doctordashboard" routerLinkActive="active" class="active">Dashboard</a></li>
      <li><a routerLink="/profile" routerLinkActive="active">Userprofile</a></li>
      <li><a routerLink="/appointmenthistory" routerLinkActive="active">appointmenthistory</a></li>
      <li><a routerLink="/appointments" routerLinkActive="active">appointments</a></li>
      <li><a routerLink="/daignosis-form" routerLinkActive="active">daignosis-form</a></li>
      <li><a>FAQ</a></li>
      <li><span>Other</span></li>
      <li><a>Search</a></li>
      <li><a>Settings</a></li>
      <li><a href="#">Logout</a></li>
    </ul>

  </nav>
  <div class="pagecontent" >
    <div>
      <mat-tab-group (selectedIndexChange)="getappointments($event)">
        <mat-tab label="Requested Appointments">
          <table mat-table [dataSource]="orders" multiTemplateDataRows class="mat-elevation-z8">
            <ng-container matColumnDef="patientUniqueId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> patient Id</th>
              <td mat-cell *matCellDef="let element"> {{element.patientUniqueId}} </td>
            </ng-container>
            <ng-container matColumnDef="patientName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.patientName}} </td>
            </ng-container>
            <ng-container matColumnDef="patientMobile">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
                <td mat-cell *matCellDef="let element"> {{element.patientMobile}} </td>
              </ng-container>
              <ng-container matColumnDef="patientDob">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Dob </th>
                <td mat-cell *matCellDef="let element"> {{element.patientDob}} </td>
              </ng-container>
              <ng-container matColumnDef="patientGender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
                <td mat-cell *matCellDef="let element"> {{element.patientGender}} </td>
              </ng-container>
              <ng-container matColumnDef="patientMail">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.patientMail}} </td>
              </ng-container>
              <ng-container matColumnDef="doctorId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.doctorId}} </td>
              </ng-container>
              <ng-container matColumnDef="appontmentDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Appointment Date </th>
                <td mat-cell *matCellDef="let element"> {{element.appontmentDate}} </td>
              </ng-container>
              <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
                <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.currentAppointmentState}} 
                  <button (click)="accept(element.patientUniqueId)">Accept</button>
                  <button (click)="reject(element.patientUniqueId)"> Reject</button>
                </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"></tr>
          </table>
        </mat-tab>
    </mat-tab-group>
    </div>
</div>
<router-outlet></router-outlet>